__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
node_modules/
.git/
*.sqlite3
db.sqlite3
*.log
dist/
build/
*.egg-info/
Frontend/node_modules/
Backend/backend_service/media/
\.venv/
*.DS_Store
Dockerfile
docker-compose*.yml